In [ ]:
name="Varuni"
print(f"My name is {name}")

My name is Varuni

In [ ]:
a="Varuni"
b="BCA"
print(f"My degree is {b} and My name is {a}")

My degree is BCA and My name is Varuni

In [ ]:
a,b="Varuni","BCA"
print(f"My degree is {b} and My name is {a}")

My degree is BCA and My name is Varuni

#Python Syntax & Structure

###Basic Syntax Rules

In [ ]:
print("HELLO WORLD")#Function Call
X=5#Variables
Y=10#No need to deaclare type

HELLO WORLD

###Python is case-sensitive

In [ ]:
Name="John"
name="Jane"
print(f"NAME IS {Name} and name is {name}")#Different Variables

NAME IS John and name is Jane

###Indentation Matters!!

In [ ]:
if X>0:
  print("X is positive")#4 spaces indentation
  print("This is inside the if block")

X is positive
This is inside the if block

#Variables & Datatypes

###Numeric Types

In [ ]:
age=25#integer
height=5.8#float
complex_num=2+3j#complex
print(age,height,complex_num)

25 5.8 (2+3j)

###String Types

In [ ]:
name="Alice"
message='Hello World'
multiline=""" This is
              multiline string type"""
print(name,message,multiline)

Alice Hello World  This is
              multiline string type

###Boolean Type

In [ ]:
is_active=True
is_finished=False

###Type Checking

In [ ]:
print(type(age))#<class 'int'>
print(type(height))#<class 'float'>
print(type(name))#<class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

###Type Conversion

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)

print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

###**Hands-On Excercise**

Exercise 01:Personal Information

######Create variables for personal information

In [ ]:
first_name="Varuni"
last_name="Mokashi"
age=19
height=5.8
is_student=True

######Print formatted information

In [ ]:
print(f"Name is:{first_name} {last_name}")
print(f"Age is:{age}")
print(f"Height is:{height}feet")
print(f"Student:{is_student}")

Name is:Varuni Mokashi
Age is:19
Height is:5.8feet
Student:True

#####Type Conversions

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age is:{age_str}")
print(f"Height is:{height_int}feet")

Age is:19
Height is:5feet

##Operators & Basic Opreations

####Arithmetic Operators

In [ ]:
a=10
b=3

print(f"Addition:{a}+{b}={a+b}")
print(f"Subtraction:{a}-{b}={a-b}")
print(f"Multiplication:{a}*{b}={a*b}")
print(f"Division:{a}/{b}={a/b}")
print(f"Floor Division:{a}//{b}={a-b}")
print(f"Modulas:{a}%{b}={a%b}")
print(f"Exponentiation:{a} ** {b}={a**b}")

Addition:10+3=13
Subtraction:10-3=7
Multiplication:10*3=30
Division:10/3=3.3333333333333335
Floor Division:10//3=7
Modulas:10%3=1
Exponentiation:10 ** 3=1000

####Order Of Operation(PEMDAS)



* P - Paranthesis
* E - Exponentiation
* M - Multiplication
* D - Division
* A - Addition
* S -Subtraction

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

####Relational (or) Comparison Operators

In [ ]:
x=5
y=10

print(f"{x}=={y}:{x==y}") #EQUALS TO
print(f"{x}!={y}:{x!=y}") #NOT EQULAS TO
print(f"{x}<{y}:{x<y}") #LESSER THAN
print(f"{x}>{y}:{x>y}") #GREATER THAN
print(f"{x}<={y}:{x<=y}") #LESSER THAN OR EQUALS TO
print(f"{x}>={y}:{x>=y}") #GREATER THAN OR EQUALS TO

5==10:False
5!=10:True
5<10:True
5>10:False
5<=10:True
5>=10:False

####String Comparison

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}'<'{name2}':{name1<name2}")#ALPHABETICAL ORDER

'Alice'<'Bob':True

####Logical Operators

In [ ]:
p=True
q=False

print(f"p and q:{p and q}")#BOTH MUST BE TRUE
print(f"p or q:{p or q}")#ATLEAST ONE MUST BE TRUE
print(f"not p :{not p}")#OPPOSITE OF p

p and q:False
p or q:True
not p :False

In [ ]:
#Practical example
age=20
has_license=True
can_drive= age  >=18 and has_license
print(f"Can Drive:{can_drive}")

Can Drive:True

In [ ]:
#Multiple Conditions
score=85
is_present=True
can_pass= score >=80 and is_present
print(f"Can pass:{can_pass}")

Can pass:True

##**Hands-On Exercise**

*Excercise 02:Simple Calculator*

Create calculator that checks if a person qulaifies for a loan

In [ ]:
#Personal Information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#Loan Criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#Check Qualifications
age_qualified= age>=min_age
income_qualified= annual_income >=min_income
credit_qualified =credit_score >=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

In [ ]:
age=25
annual_income=50000
credit_score=320
get_qualify=True
can_get_loan= age >=17 and get_qualify
print(f"Qualified in age:{can_get_loan}")
can_get_loan=annual_income >=25000 and get_qualify
print(f"Qualified in income:{can_get_loan}")
can_get_loan=credit_score >=500 and get_qualify
print(f"Qualified in credit score:{can_get_loan}")

Qualified in age:True
Qualified in income:True
Qualified in credit score:False

##**Data Structures**

####Lists

#####Creating Lists

In [ ]:
fruits=["apple","banana","orange","grape"]
numbers=[10,20,30,40,50]
mixed_data=[1,"Hello",3.14,True]

#####List indexing(0-based)

In [ ]:
print(f"First Fruit:{fruits[0]}")
print(f"Last Fruit:{fruits[-1]}")
print(f"Second To Last Fruit:{fruits[-2]}")

First Fruit:apple
Last Fruit:grape
Second To Last Fruit:orange

####List Silicing

In [ ]:
print(f"First 2 fruits:{fruits[0:2]}")
print(f"Last 2 Fruit:{fruits[-2]}")
print(f"All except first:{fruits[1:]}")

First 2 fruits:['apple', 'banana']
Last 2 Fruit:orange
All except first:['banana', 'orange', 'grape']

####List Methods

In [ ]:
fruits.append("kiwi")#Add to end
fruits.insert(1, "Strawberry")#Insert at index
removed = fruits.pop()#Remove last
print(f"Updated list: {fruits}")
print(f"Removed: {removed}")

Updated list: ['apple', 'Strawberry', 'banana', 'orange', 'grape']
Removed: kiwi

####List Operations

In [ ]:
print(f"Length:{len(fruits)}")
print(f"Contains 'apple':{'apple' in fruits}")
print(f"Index of 'banana:{fruits.index('banana')}")

Length:5
Contains 'apple':True
Index of 'banana:2

####Tuples

####Tuples are immuatble

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice", 25 ,"Engineer",True)

####Tuple Unpacking

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

####Tuple Methods

In [ ]:
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of 'Engineer :{person_info.index('Engineer')}")

Count of 25:1
Index of 'Engineer :2

####Why use tuples ??


*  Immuatble(safe for dictionary keys)
*  Slighlty faster than list
*  Good for fixed collections

####Dictionary

####Dictionary Creation

In [ ]:
person={
    "name":"Alice",
    "age":23,
    "profession":"Software Engineer",
    "salary":75000,
    "skills":["Python","JavaScript","SQL"]
}

####Accessing Values

In [ ]:
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','Unknown')}")#sAFE ACCESS

Name:Alice
Age:23

####Dictionary Methods

In [ ]:
print(f"Keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

Keys:['name', 'age', 'profession', 'salary', 'skills']
Values:['Alice', 23, 'Software Engineer', 75000, ['Python', 'JavaScript', 'SQL']]
Items:[('name', 'Alice'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', ['Python', 'JavaScript', 'SQL'])]

####Adding/Updating

In [ ]:
person["location"]="New York"
person["Salary"]=80000 # Update existing

####Practical UseCase:Inventory Management

In [ ]:
inventory={
    "laptops":{
          "quantity":50,
          "price":999.99
    },
    "phones":{
          "quantity":100,
          "price":599.99
    },
    "tablets":{
          "quantity":30,
          "price":399.99
    }
}

####Nested Access

In [ ]:
print(f"Laptop price:${inventory['laptops']['price']}")

Laptop price:$999.99

##Sets

####Sets contain unique elements

In [ ]:
colors={"red","green","blue","red"} # duplicate removed
print(f"Colors:{colors}")

Colors:{'green', 'blue', 'red'}

###Set Operations

In [ ]:
team1_skills={"Python","JavaScript","SQL","React"}
team2_skills={"JavaScript","SQL","Java","Spring"}

####Common Oprations

In [ ]:
print(f"Common Skills:{team1_skills.intersection(team2_skills)}")
print(f"All Skills:{team1_skills.union(team2_skills)}")
print(f"Team1_Only:{team1_skills.difference(team2_skills)}")

Common Skills:{'JavaScript', 'SQL'}
All Skills:{'JavaScript', 'SQL', 'Spring', 'React', 'Java', 'Python'}
Team1_Only:{'Python', 'React'}

####Adding Sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"Updated colors:{colors}")

Updated colors:{'yellow', 'red', 'green', 'blue', 'purple', 'orange'}

##Control Flow

####Conditional Statements

######Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score >=80:
    return "B"
  elif score >=70:
    return "C"
  elif score >=60:
    return "D"
  else:
    return"F"

####Test The Fumction

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade=get_grade_letter(score)
  print(f"Score {score}:Grade {grade}")

Score 95:Grade A
Score 83:Grade B
Score 72:Grade C
Score 65:Grade D
Score 58:Grade F

####Nested Conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight <=1:
   weight_cost=2.0
  elif weight <=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance <=100:
    distance_cost=1.0
  elif distance <=500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost + weight_cost + distance_cost

####Test Shipping Costs

In [ ]:
print(f"Light, close: ${get_shipping_cost(0.5 ,50)}")
print(f"Heavy, far: ${get_shipping_cost(10 ,800)}")

Light, close: $8.0
Heavy, far: $22.0

###Loops-For Loop

####Basic For Loop

In [ ]:
fruits=["apple","banana","orange","grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

####Loops with enumerate (get index)

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.grape

####Loop With Range

In [ ]:
for day in  range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

####Nested loops-Creating a multiplication table

In [ ]:
print(f"Multiplication Talbe")
for i in range (1,6):
  for j in range(1,6):
    product=i+j
    print(f"{i}X{j}={product:2d}",end="")
    print() # new line after each row

Multiplication Talbe
1X1= 2
1X2= 3
1X3= 4
1X4= 5
1X5= 6
2X1= 3
2X2= 4
2X3= 5
2X4= 6
2X5= 7
3X1= 4
3X2= 5
3X3= 6
3X4= 7
3X5= 8
4X1= 5
4X2= 6
4X3= 7
4X4= 8
4X5= 9
5X1= 6
5X2= 7
5X3= 8
5X4= 9
5X5=10

####Processing data with loops

In [ ]:
sales_data=[
    {"product":"Laptop","price":999,"quantity":5},
    {"product":"Phone","price":599,"quantity":10},
    {"product":"Tablets","price":399,"quantity":8},
]

total_revenue = 0

for item in sales_data:
  item_revenue=item["price"] *item["quantity"]
  total_revenue+=item_revenue
  print(f"{item['product']}:${item_revenue}")
print(f"Total Revenue:${total_revenue}")

Laptop:$4995
Phone:$5990
Tablets:$3192
Total Revenue:$14177

###Loops - While loop

#####While loop for user input simulation

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("Guess the number between 1 to 10!")

  while guess != target:

    #Simulate user input
    import random
    guess=random.randint(1,10)
    attempts += 1

    if guess < target:
      print(f"Guess {attempts}: {guess} - Too low!")
    elif guess < target:
      print(f"Guess {attempts}: {guess} - Too high!")
    else:
      print(f"Guess {attempts}: {guess} - Correct!")

  #Safety Check
      if attempts>10:
        print("Max attempts reached!")
        break

      print(f"Game finished in {attempts} attempts")

simple_guessing_game()

Guess the number between 1 to 10!
Guess 1: 6 - Too low!
Game finished in 1 attempts
Guess 2: 6 - Too low!
Game finished in 2 attempts
Guess 3: 6 - Too low!
Game finished in 3 attempts
Guess 4: 8 - Correct!
Game finished in 4 attempts
Guess 5: 9 - Correct!
Game finished in 5 attempts
Guess 6: 8 - Correct!
Game finished in 6 attempts
Guess 7: 6 - Too low!
Game finished in 7 attempts
Guess 8: 1 - Too low!
Game finished in 8 attempts
Guess 9: 7 - Correct!
Game finished in 9 attempts

####While loop for processing

In [ ]:
def process_queue():
  queue=["Task1","Task2","Task3","Task4"]

  while queue:
    current_task=queue.pop(0) # remove first item
    print(f"Processing:{current_task}")

    print(f"Remaining tasks:{len(queue)}")
  print(f"All Tasks Completed!")

process_queue()

Processing:Task1
Remaining tasks:3
Processing:Task2
Remaining tasks:2
Processing:Task3
Remaining tasks:1
Processing:Task4
Remaining tasks:0
All Tasks Completed!

###Function

####Function Basics

#####Basic function definition

In [ ]:
def greet(name):
  return f"Hello , {name}!"

####Function Call

In [ ]:
message = greet("Python Programmer")
print(message)

Hello , Python Programmer!

####Function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area=length * width
  return area

####Test The Function

In [ ]:
room_area = calculate_area(12,10)
print(f"Room area: {room_area} square feet")

####Function With Default Parameters

In [ ]:
def create_user_profile(name,age=18,location="Unknown",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

#####Different Ways To Call

In [ ]:
profile1=create_user_profile("Alice") #Use defaults
profile2=create_user_profile("Bob",25) #Override age
profile3=create_user_profile("Charlie",location="New York",age=30) #Named Parameters

print(f"Profile1:{profile1}")
print(f"Profile2:{profile2}")
print(f"Profile1:{profile3}")

Profile1:{'name': 'Alice', 'age': 18, 'location': 'Unknown', 'active': True}
Profile2:{'name': 'Bob', 'age': 25, 'location': 'Unknown', 'active': True}
Profile1:{'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

####Advanced Function Concepts

####Functions returning multiple values

In [ ]:
def analyze_text(text):
  words= text.split()
  word_count= len(words)
  char_count= len(text)
  char_count_no_spaces = len(text.replace(" ",""))

  return word_count,char_count,char_count_no_spaces

####Test With Sample Text

In [ ]:
sample_text="Python is a powerful programming language"

words,chars,chars_no_space= analyze_text(sample_text)

print(f"Text: '{sample_text}'")
print(f"Word count:{words}")
print(f"Character count:{chars}")
print(f"Characters (no spaces): {chars_no_space}")

Text: 'Python is a powerful programming language'
Word count:6
Character count:41
Characters (no spaces): 36

####Variables-Length arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers) / len(numbers)

####Test With Different Arguments

In [ ]:
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)

print(f"Average of 10,20,30: {avg1}")
print(f"Average of 5,15,25,35,45: {avg2}")
print(f"Average of 100: {avg3}")

Average of 10,20,30: 20.0
Average of 5,15,25,35,45: 25.0
Average of 100: 100.0

####Keyword Arguments

In [ ]:
def create_report(**data):
  print("=============REPORT=================")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}:{value}")

  print(f"=====================================")

create_report(
    title="Monthly Sales Report",
    data="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

=============REPORT=================
Title:Monthly Sales Report
Data:2024-01-01
Total Sales:15000
New Customers:25
Returning Customers:150
=====================================

####Lambda Functions

Lambda functions(anonymous function)

####Regular function

In [ ]:
def square(x):
  return x ** 2

#####Lambda Equivalent

In [ ]:
square_lambda = lambda x: x ** 2
print(f"Regular function: {square(5)}")
print(f"Lambda function: {square_lambda(5)}")

Regular function: 25
Lambda function: 25

#####Lambda With Multiple Arguments

In [ ]:
multiply = lambda x,y: x* y
print(f"Multiply: {multiply(3,4)}")

Multiply: 12

####Lambda With Built-In Functions

In [ ]:
numbers=[1,2,3,4,5]
squared= list(map(lambda x: x**2, numbers))
print(f"Squared numbers:{squared}")

Squared numbers:[1, 4, 9, 16, 25]

####Filtering With Lambda

In [ ]:
ages=[16,21,35,12,45,18,67]
adults= list(filter(lambda age:age >=18, ages))
print(f"Adult ages: {adults}")

Adult ages: [21, 35, 45, 18, 67]

####Sorting With Lambda

In [ ]:
people=[
    {"name":"ALICE","age":30},
    {"name":"BOB","age":25},
    {"name":"CHARLIE","age":35}
]

sorted_people=sorted(
    people,
    key=lambda person: person["age"])
print("People sorted by age:")

for person in sorted_people:
  print(f"{person['name']}: {person['age']}")

People sorted by age:
BOB: 25
ALICE: 30
CHARLIE: 35